<!DOCTYPE html>
<html>
<head>
  <title>My Page</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  </script>
</head>
<body>
  <h1>My Page</h1>
  <button onclick="get_embeddings_by_text_query()">Get Embeddings</button>
  <button onclick="input_voxel()">Upload Voxel</button>
  <button onclick="get_voxel(0.3, 0, 0, 1, 2, 3)">Get Voxel</button>
  <script>
    function get_embeddings_by_text_query() {
      const mylist = ["plane", "car", "truck", "rocket"];
      
      $.ajax({
        url: '/get_embeddings_by_text_query',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(mylist),
        success: function(data) {
            console.log("success get embedding");
            console.log(data);
        }
      });
    }

    function get_voxel(xval, yval, idx0=0, idx1=-1, idx2=-1, idx3=-1) {
      $.ajax({
        // 如果值是0那么必须手动打印.0，否则url会自动去掉小数点，然后flask识别时会识别为int，与float类型冲突导致报错
        url: `/get_voxel/${idx0}-${idx1}-${idx2}-${idx3}/${xval}${xval == 0 ? '.0':''}-${yval}${yval == 0 ? '.0':''}`, 
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(''),
        success: function(data) {
            console.log("success get voxel");
            console.log(data);
        }
      });
    }
  </script>
  <h1>END </h1>
</body>
</html>