<!DOCTYPE html>
<html>
  <head>
    <title>My Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      .left .dot {
        fill: skyblue;
        cursor: pointer;
        transition: fill 0.2s;
      }

      .left .dot:hover {
        r: 15;
      }

      .right .dot {
        cursor: pointer;
        fill: steelblue;
        transition: fill 0.2s;
      }

      .right .dot:hover {
        fill: orange;
        r: 30;
      }

      .axis-label {
        font-size: 12px;
      }

      .chart-title {
        text-anchor: middle;
        font-size: 16px;
        font-weight: bold;
      }

      .left {
        overflow: auto;
        float: left;
        width: 50%;
        height: 100%;
      }

      .left_top {
        height: 8vh;
      }

      .left_center input,
      .left_center button {
        cursor: pointer;
        margin: 0;
        box-sizing: border-box;
      }

      .left_center input {
        background-color: #f6f5f0;
        width: 40vh;
        height: 7vh;
        border-radius: 10px;
        border: 4px solid;
        border-color: steelblue;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }

      .left_center button {
        height: 7vh;
        background-color: skyblue;
      }

      .left_center button:first-of-type {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .left_center button:last-of-type {
        border-left: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      .left_center {
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .left_bottom {
        height: 77vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .right {
        overflow: auto;
        float: right;
        width: 50%;
        height: 100%;
      }

      .right_top {
        position: relative;
        height: 40vh;
        display: flex;
        justify-content: center;
        /* align-items: center; */
      }

      .right_bottom {
        height: 60vh;
      }

      .clearfix::after {
        content: "";
        display: table;
        clear: both;
      }

      #canvas-container {
        display: flex;
        justify-content: center;
        flex: 1;
        align-items: center;
      }

      .circle-button {
        border: none;
        color: white;
        background-color: #4caf50;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50%;
      }

      .button-group {
        display: flex;
        justify-content: center;
        flex: 1;
        align-items: center;
      }

      #app2 {
        position: relative;
      }

      #selectedDataDiv {
        position: absolute;
        right: 0;
        top: 30px;
        left: calc(30px + 250px + 20px);
        height: 240px;
        width: 240px;
      }

      #selectedDataDiv button {
        margin-top: 3px;
        margin-left: 60px;
        height: 45px;
        width: 100px;
        text-align: center;
        line-height: 45px;
        background-color: rgb(130, 11, 100);
        border-radius: 10px;
      }

      .selectdatatable {
        margin-top: 3px;
        height: 45px;
        width: 220px;
        text-align: center;
        line-height: 45px;
        background-color: rgb(32, 156, 205);
        border-radius: 10px;
      }

      .label {
        font-size: 12px;
        fill: black;
      }
    </style>
  </head>

  <body id="body">
    <div class="clearfix">
      <div class="left">
        <div class="left_top">
          <!-- <h1>My_Page</h1> -->
        </div>
        <div class="left_center" id="buttonApp">
          <div style="display: flex; flex-direction: row; align-items: center">
            <form
              id="myForm"
              method="POST"
              style="display: flex; flex-direction: row; align-items: center"
            >
              <div style="display: flex; flex-direction: column">
                <input id="message" name="message" />
              </div>
              <div style="display: flex; flex-direction: row">
                <button onclick="get_embeddings_by_text_query()" type="submit">
                  Get Embeddings
                </button>
                <button @click="updateData()" type="button">
                  Initialize Overview
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="left_bottom" id="app">
          <svg
            width="700"
            height="700"
            ref="svg"
            style="
              background-image: linear-gradient(
                to right,
                red,
                orange,
                yellow,
                green,
                blue,
                indigo,
                violet
              );
            "
          ></svg>
        </div>
      </div>
      <div class="right">
        <div class="right_top">
          <div id="app2">
            <svg width="500" height="500" ref="svg2">
              <defs>
                <linearGradient id="Gradient-x" x1="0" x2="1" y1="0" y2="0">
                  <stop offset="0%" stop-color="rgba(0, 0, 0, 1)" />
                  <stop offset="100%" stop-color="rgba(0, 255, 0, 1)" />
                </linearGradient>
                <linearGradient id="Gradient-y" x1="0" x2="0" y1="1" y2="0">
                  <stop offset="0%" stop-color="rgba(0, 0, 0, 1)" />
                  <stop offset="100%" stop-color="rgba(255, 0, 0, 1)" />
                </linearGradient>
              </defs>
              <rect
                id="background"
                width="240"
                height="240"
                fill="url(#Gradient-x)"
                fill-opacity="0.5"
              />
              <rect
                id="background"
                width="240"
                height="240"
                fill="url(#Gradient-y)"
                fill-opacity="0.5"
                x="30"
                y="30"
              />
            </svg>
            <div id="selectedDataDiv">
              <!-- <div class="selectdatatable"> -->
              <!-- Selected Data_index:<span>{{ selectedData_index }}</span> -->
              <!-- </div> -->
              <div class="selectdatatable">
                Selected Data_x:<span>{{ mouseX }}</span>
              </div>
              <div class="selectdatatable">
                Selected Data_y:<span>{{ mouseY }}</span>
              </div>
              <button @click="get_voxel_button()" type="button">
                Get_voxel
              </button>
            </div>
          </div>
        </div>
        <div class="right_bottom">
          <div id="canvas-container"></div>
          <div class="button-group">
            <button onclick="upload_voxel_click()" class="circle-button">
              上传体素
              <input
                type="file"
                onchange="upload_voxel(event)"
                id="input_voxel"
                style="display: none"
              />
            </button>
            <button onclick="upload_image_click()" class="circle-button">
              上传图片
              <input
                type="file"
                onchange="upload_image(event)"
                id="input_image"
                style="display: none"
              />
            </button>
            <button onclick="save_file()" class="circle-button">
              保存体素
            </button>
            <!-- <button onclick="get_voxel(0.3, 0, 0, 1, 2)" class="circle-button">Get Voxel</button>
                    <button onclick="get_voxel(0, 0, 4)" class="circle-button">Get Voxel2</button> -->
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/three@0.131.2/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
      let EventBus = new Vue();
      new Vue({
        el: "#app",
        data() {
          return {
            width: 700,
            height: 700,
            data: [
              { index: 0, x: -1, y: 2, label: "点A" },
              { index: 1, x: 0, y: 5, label: "点B" },
              { index: 2, x: 1, y: -4, label: "点C" },
              { index: 3, x: -2, y: 7, label: "点D" },
              { index: 4, x: 3, y: 1, label: "点E" },
            ],
            xScale: null,
            yScale: null,
            texts: [],
          };
        },
        created() {
          EventBus.$on("buttonClicked", this.updateData);
        },
        mounted() {
          this.xScale = d3.scaleLinear().range([30, this.width - 30]);
          this.yScale = d3.scaleLinear().range([this.height - 30, 30]);
          this.updateScales();
          this.drawChart();
        },
        methods: {
          sendData() {
            // 发送二维数据到事件总线用于更新第二个散点图
            EventBus.$emit("data-updated", this.data);
          },
          updateScales() {
            this.xScale.domain([
              d3.min(this.data, (d) => d.x),
              d3.max(this.data, (d) => d.x),
            ]);
            this.yScale.domain([
              d3.min(this.data, (d) => d.y),
              d3.max(this.data, (d) => d.y),
            ]);
          },
          drawAxes() {
            const svg = d3.select(this.$refs.svg);

            svg
              .append("g")
              .attr("transform", `translate(0, ${this.height - 30})`)
              .call(d3.axisBottom(this.xScale).tickSize(0).tickFormat(""))
              .append("text")
              .attr("class", "axis-label")
              .attr("x", this.width / 2)
              .attr("y", 40)
              .text("X轴");

            svg
              .append("g")
              .attr("transform", "translate(30, 0)")
              .call(d3.axisLeft(this.yScale).tickSize(0).tickFormat(""))
              .append("text")
              .attr("class", "axis-label")
              .attr("x", -130)
              .attr("y", this.height / 2)
              .attr("transform", "rotate(-90)")
              .text("Y轴");
          },
          drawDots() {
            const svg = d3.select(this.$refs.svg);
            const dots = svg
              .selectAll(".dot")
              .data(this.data)
              .enter()
              .append("circle")
              .attr("class", "dot")
              .style("fill", "skyblue")
              .style("stroke", "black")
              .style("stroke-width", "1px")
              .attr("cx", (d) => this.xScale(d.x))
              .attr("cy", (d) => this.yScale(d.y))
              .attr("r", 1);

            dots
              .on("mouseover", (event, d) => {
                d3.select(event.target)
                  .transition()
                  .duration(200)
                  // .style('stroke', 'red')
                  .style("stroke-width", "2px")
                  .attr("r", 5);
              })
              .on("mouseout", (event, d) => {
                d3.select(event.target)
                  .transition()
                  .duration(200)
                  // 恢复原始边框样式
                  // .style('stroke', 'black')
                  .style("stroke-width", "1px")
                  .attr("r", 2);
              })
              .on("click", (event, d) => {
                console.log("Clicked point:", d);
                EventBus.$emit("data-updated", [d]);
              });
            const labels = svg
              .selectAll(".label")
              .data(this.data)
              .enter()
              .append("text")
              .attr("class", "label")
              .attr("x", (d) => this.xScale(d.x) + 3) // 标签相对于圆点的偏移量
              .attr("y", (d) => this.yScale(d.y) - 3); // 标签相对于圆点的偏移量
            // 下面这个是显示标签的回头取消注释就好
            // .text(d => d.label);
          },

          drawChart() {
            const svg = d3.select(this.$refs.svg);
            svg.selectAll("*").remove();
            this.drawAxes();
            svg.selectAll(".label").remove();
            svg.selectAll(".label").remove();
            this.drawDots();
          },
          updateData() {
            initialize_overview((data) => {
              this.data = data.map((item, index_id) => ({
                index: index_id,
                x: item[1][0],
                y: item[1][1],
                label: item[0],
              }));
              this.texts = data.map((item) => item[0]);
              this.updateScales();
              this.drawChart();
            });
          },
        },
        update_voxel(name, voxel64) {
          let voxel32 = [];
          for (let i = 0; i < 64; i += 2) {
            tmp1 = [];
            for (let j = 0; j < 64; j += 2) {
              tmp2 = [];
              for (let k = 0; k < 64; k += 2) {
                if (
                  Number(voxel64[i][j][k]) +
                    Number(voxel64[i + 1][j][k]) +
                    Number(voxel64[i][j + 1][k]) +
                    Number(voxel64[i + 1][j + 1][k]) +
                    Number(voxel64[i][j][k + 1]) +
                    Number(voxel64[i + 1][j][k + 1]) +
                    Number(voxel64[i][j + 1][k + 1]) +
                    Number(voxel64[i + 1][j + 1][k + 1]) >=
                  3
                ) {
                  tmp2.push(true);
                } else {
                  tmp2.push(false);
                }
              }
              tmp1.push(tmp2);
            }
            voxel32.push(tmp1);
          }
          console.log(voxel32);

          const self = this; // Store a reference to the Vue instance
          $.ajax({
            url: "/update_voxel",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(voxel32),
            success: function (data) {
              console.log("success get embedding");
              console.log(data);
              const formattedData = data.map((item, index_id) => ({
                index: index_id,
                x: item[1][0],
                y: item[1][1],
                label: item[0],
              }));
              Gvoxel_list.push([name, data]);
              self.data.push(...formattedData);
              this.updateScales();
              this.drawChart();
            },
            upload_image(event) {
              let formData = new FormData();

              let selectedFile = event.target.files[0];

              formData.append("image", selectedFile);
              formData.append("name", selectedFile.name);

              $.ajax({
                url: "/get_embeddings_by_image",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                  console.log(data);
                  Gvoxel_list.push([data[0], data[1]]);
                  Gvoxel_name = selectedFile.name;
                  update_scene(data[2]);
                },
              });
            },
          });
        },
      });
      new Vue({
        el: "#app2",
        data() {
          return {
            dataArr: [],
            svg: null,
            data: [],
            timer: null,
            mouseX: null,
            mouseY: null,
            xScale: null,
            yScale: null,
          };
        },
        mounted() {
          this.svg = d3.select(this.$refs.svg2);
          this.svg.on("click", (event) => {
            const [x, y] = d3.pointer(event);
            const dataX = this.xScale.invert(x);
            const dataY = this.yScale.invert(y);
            this.mouseX = dataX.toFixed(2);
            this.mouseY = dataY.toFixed(2);
            if (
              this.mouseX >= 0 &&
              this.mouseX <= 1 &&
              this.mouseY >= 0 &&
              this.mouseY <= 1
            ) {
              this.selectedData_x = this.mouseX < 0 ? 0 : this.mouseX;
              this.selectedData_x =
                this.selectedData_x > 1 ? 1 : this.selectedData_x;
              this.selectedData_y = this.mouseY < 0 ? 0 : this.mouseY;
              this.selectedData_y =
                this.selectedData_y > 1 ? 1 : this.selectedData_y;
              console.log(
                "Clicked at:",
                this.selectedData_x,
                this.selectedData_y
              );
            }
            // console.log('Clicked at:', dataX, dataY);
          });
          this.draw();
        },
        created() {
          // 监听事件总线的数据更新事件
          EventBus.$on("data-updated", (data) => {
            if (this.data.length >= 4) {
              this.dataArr.shift();
            }
            // 将接收到的对象压入数组中
            this.dataArr.push(...data);
            console.log(this.dataArr);

            if (this.data.length === 0) {
              this.data.push({ x: 0, y: 0 });
            } else if (this.data.length === 1) {
              this.data.push({ x: 1, y: 0 });
            } else if (this.data.length === 2) {
              this.data.push({ x: 0, y: 1 });
            } else if (this.data.length === 3) {
              this.data.push({ x: 1, y: 1 });
            }
            this.draw();
          });
          EventBus.$on("buttonClicked", () => {
            this.clearDataArr();
            this.clearData();
            this.draw();
          });
        },
        methods: {
          draw(restartAnimation = false) {
            const xScale = d3
              .scaleLinear()
              .domain([0, d3.max(this.data, (d) => d.x)])
              .range([30, 270]);

            const yScale = d3
              .scaleLinear()
              .domain([0, d3.max(this.data, (d) => d.y)])
              .range([270, 30]);
            this.xScale = xScale;
            this.yScale = yScale;
            this.svg.selectAll("circle").remove();

            const dots = this.svg
              .selectAll("circle")
              .data(this.data)
              .enter()
              .append("circle")
              .attr("class", "dot")
              .attr("cx", (d) => xScale(d.x))
              .attr("cy", (d) => yScale(d.y))
              .attr("r", 15);

            dots.each((d, i, nodes) => {
              this.animate(d3.select(nodes[i]), "dot-" + i);
            });

            dots.on("mouseover", (event, d, i) => {
              d3.select(event.target)
                .interrupt("dot-" + i)
                .attr("r", 30)
                .style("fill", "orange");
            });
            dots
              .on("mouseout", (event, d, i) => {
                d3.select(event.target).style("fill", "steelblue");
                if (restartAnimation) {
                  this.animate(d3.select(event.target), "dot-" + i);
                }
              })
              .on("click", (event, d, i) => {
                if (!this.clicks) {
                  // 如果没有点击过
                  var select_id = d.x + 2 * d.y;
                  this.selectedData_x = this.dataArr[select_id].x;
                  this.selectedData_y = this.dataArr[select_id].y;
                  this.selectedData_label = this.dataArr[select_id].label;
                  this.selectedData_index = this.dataArr[select_id].index;
                  this.clicks = 1;
                  this.clickTimer = setTimeout(() => {
                    this.clicks = 0;
                  }, 1000);
                } else {
                  this.clicks++;
                  if (this.clicks === 3) {
                    clearTimeout(this.clickTimer);
                    let pointToDelete;
                    switch (this.data.length) {
                      case 4:
                        pointToDelete = { x: 1, y: 1 };
                        break;
                      case 3:
                        pointToDelete = { x: 0, y: 1 };
                        break;
                      case 2:
                        pointToDelete = { x: 1, y: 0 };
                        break;
                      default:
                        pointToDelete = { x: 0, y: 0 };
                    }

                    const indexToDelete = this.data.findIndex(
                      (item) =>
                        item.x === pointToDelete.x && item.y === pointToDelete.y
                    );
                    const indexToDeleteArr = this.data.findIndex(
                      (item) => item.x === d.x && item.y === d.y
                    );
                    if (indexToDelete !== -1) {
                      this.dataArr.splice(indexToDeleteArr, 1); // 删除对应索引处的数据
                      this.data.splice(indexToDelete, 1);
                      this.svg
                        .selectAll("circle")
                        .data(this.data)
                        .exit()
                        .remove();
                    }
                    this.clicks = 0;
                  }
                }
              });

            this.svg
              .append("g")
              .attr("transform", "translate(0, 270)")
              .call(d3.axisBottom(xScale).tickSize(0).tickFormat(""));

            this.svg
              .append("g")
              .attr("transform", "translate(30, 0)")
              .call(d3.axisLeft(yScale).tickSize(0).tickFormat(""));

            this.svg
              .select("#background")
              .attr("x", 30)
              .attr("y", 30)
              .attr("width", 240)
              .attr("height", 240);
            this.xScale = xScale;
            this.yScale = yScale;
          },
          animate(selection, id) {
            selection
              .transition(id)
              .duration(2000)
              .attr("r", 30)
              .style("opacity", 1)
              .transition()
              .duration(2000)
              .attr("r", 15)
              .style("opacity", 1)
              .end()
              .then(() => this.animate(selection, id));
          },
          clearDataArr() {
            this.dataArr = []; // Clear the data array
            console.log("Data Array cleared");
          },
          clearData() {
            this.data = [];
            console.log("data cleared");
          },
          get_voxel_button() {
            var idx = [0, -1, -1, -1];
            for (var i = 0; i < this.dataArr.length; i++) {
              idx[i] = this.dataArr[i].index;
            }
            get_voxel(
              Number(this.selectedData_x).toFixed(2),
              Number(this.selectedData_y).toFixed(2),
              idx[0],
              idx[1],
              idx[2],
              idx[3]
            );
          },
        },
      });
      new Vue({
        el: "#buttonApp",
        methods: {
          updateData() {
            event.preventDefault();
            EventBus.$emit("buttonClicked");
          },
        },
      });
    </script>
    <script>
      /** 3D VOXEL RENDERER **/
      // Base Settings
      var Gvoxel_data = [];
      var Gvoxel_name = "";
      var Gvoxel_list = [];
      var GisInitial = false;

      const width = 400;
      const height = 400;
      const scene = new THREE.Scene();
      const camera = new THREE.PerspectiveCamera(75, width / height, 0.1, 1000);
      const radius = 100;
      let dirX = 0;
      let dirY = 45;
      camera.position.set(
        Math.sin(dirX) * radius,
        Math.cos(dirY) * radius,
        Math.cos(dirX) * radius
      ); // 设置0相机新的位置
      camera.lookAt(0, 0, 0);
      console.log(camera.position);

      const renderer = new THREE.WebGLRenderer();
      renderer.setSize(width, height);
      renderer.setClearColor(0x808080);
      const container = document.getElementById("canvas-container");
      container.appendChild(renderer.domElement);

      // Light Settings
      const light = new THREE.AmbientLight(0xbbbbbb); // soft white light
      scene.add(light);
      const directionalLightTop = new THREE.DirectionalLight(0xffffff, 0.5);
      directionalLightTop.position.z = 1;
      scene.add(directionalLightTop);
      const directionalLightLeft = new THREE.DirectionalLight(0xffffff, 0.5);
      directionalLightLeft.position.z = -2;
      scene.add(directionalLightLeft);
      const directionalLightRight = new THREE.DirectionalLight(0xffffff, 0.5);
      directionalLightRight.position.z = 2;
      scene.add(directionalLightRight);
      const directionalLightDown = new THREE.DirectionalLight(0xffffff, 0.5);
      directionalLightRight.position.y = -2;
      scene.add(directionalLightDown);

      // Create Initial Voxel Cube
      const voxelSize = 3;
      const geometry = new THREE.BoxGeometry(voxelSize, voxelSize, voxelSize);
      const material = new THREE.MeshLambertMaterial({ color: 0x5588aa });

      let cube = new THREE.Mesh(geometry, material);
      cube.position.set(0, 0, -10);
      scene.add(cube);

      let isDragging = false;
      let prevX, prevY;
      let curX, curY;

      // Render loop
      function render() {
        requestAnimationFrame(render);
        if (isDragging) {
          dirX = dirX + (prevX - curX) * 0.01;
          dirY = dirY + (prevY - curY) * 0.01;
          prevX = curX;
          prevY = curY;
          const x = Math.sin(dirX) * radius;
          const z = Math.cos(dirX) * radius;
          const y = Math.cos(dirY) * radius;
          camera.position.set(x, y, z); // 设置0相机新的位置
          camera.lookAt(0, 0, 0); // 设置相机朝向坐标原点
        }
        renderer.render(scene, camera);
      }

      render();

      renderer.domElement.addEventListener("mousedown", function (event) {
        isDragging = true;
        prevX = event.offsetX;
        prevY = event.offsetY;
        curX = event.offsetX;
        curY = event.offsetY;
      });

      renderer.domElement.addEventListener("mousemove", function (event) {
        if (isDragging) {
          curX = event.offsetX;
          curY = event.offsetY;
        }
      });

      renderer.domElement.addEventListener("mouseup", function (event) {
        isDragging = false;
      });

      function update_scene(data) {
        Gvoxel_data = data;
        voxels = [];
        for (let x = 0; x < 64; x++) {
          for (let y = 0; y < 64; y++) {
            for (let z = 0; z < 64; z++) {
              if (data[z][y][x]) voxels.push([x - 32, y - 32, z - 32]);
            }
          }
        }
        for (let i = 0; i < scene.children.length; ) {
          if (scene.children[i] instanceof THREE.Mesh)
            scene.remove(scene.children[i]);
          else i++;
        }
        const meshes = new THREE.InstancedMesh(
          geometry,
          material,
          voxels.length
        );
        const matrix = new THREE.Matrix4();
        for (let i = 0; i < voxels.length; i++) {
          matrix.setPosition(voxels[i][0], voxels[i][1], voxels[i][2]);
          meshes.setMatrixAt(i, matrix);
        }
        scene.add(meshes);
      }
    </script>

    <script>
      /** BACK END API **/
      function check_init() {
        if (!GisInitial) {
          let r = confirm("请先进行初始化操作");
        }
        return GisInitial;
      }

      function initialize_overview(callback) {
        if (!GisInitial) {
          $.ajax({
            url: "/initialize_overview",
            type: "POST",
            contentType: "application/json",
            success: function (data) {
              console.log("success get embedding");
              console.log(data);
              callback(data);
              Gvoxel_list = data;
              GisInitial = true;
            },
          });
        } else {
          let r = confirm("请勿重复初始化");
        }
      }

      function get_embeddings_by_text_query() {
        if (check_init()) {
          const messageInput = document.getElementById("message");
          const message = messageInput.value;
          var input_list = String(message);
          console.log(input_list);
          $.ajax({
            url: "/get_embeddings_by_text_query",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(input_list[0]),
            success: function (data) {
              console.log("success get embedding");
              console.log(data);
              Gvoxel_list.push(data);
              //const coordinates = data;//.map(item => ({ x: item.x, y: item.y }));
              //callback(coordinates);
            },
          });
        }
        event.preventDefault();
      }

      // function handleSubmit(event) {
      // event.preventDefault();
      // const messageInput = document.getElementById("message");
      // const message = messageInput.value;
      // get_embeddings_by_text_query(String(message));
      // document.getElementById("myForm").submit();
      // }

      //   function update_voxel(name, voxel64, callback) {
      // let voxel32 = [];
      // for (let i = 0; i < 64; i += 2) {
      //   tmp1 = [];
      //   for (let j = 0; j < 64; j += 2) {
      // tmp2 = [];
      // for (let k = 0; k < 64; k += 2) {
      //   if (
      // Number(voxel64[i][j][k]) +
      //   Number(voxel64[i + 1][j][k]) +
      //   Number(voxel64[i][j + 1][k]) +
      //   Number(voxel64[i + 1][j + 1][k]) +
      //   Number(voxel64[i][j][k + 1]) +
      //   Number(voxel64[i + 1][j][k + 1]) +
      //   Number(voxel64[i][j + 1][k + 1]) +
      //   Number(voxel64[i + 1][j + 1][k + 1]) >=
      // 3
      //   )
      // tmp2.push(true);
      //   else tmp2.push(false);
      // }
      // tmp1.push(tmp2);
      //   }
      //   voxel32.push(tmp1);
      // }

      // console.log(voxel32);
      // $.ajax({
      //   url: "/update_voxel",
      //   type: "POST",
      //   contentType: "application/json",
      //   data: JSON.stringify(voxel32),
      //   success: function (data) {
      // console.log("success get embedding");
      // console.log(data);
      // callback(data);
      // Gvoxel_list.push([name, data]);
      //   },
      // });
      //   }

      function get_voxel(
        xval,
        yval,
        idx0 = 0,
        idx1 = -1,
        idx2 = -1,
        idx3 = -1
      ) {
        if (check_init()) {
          console.log(idx2, idx3, xval, yval);
          if (idx2 != -1 && idx3 == -1 && Number(xval) + Number(yval) > 1) {
            let r = confirm("选择点在三角形范围外，需要x+y<=1");
            return;
          }
          $.ajax({
            // 如果值是0那么必须手动打印.0，否则url会自动去掉小数点，然后flask识别时会识别为int，与float类型冲突导致报错
            url: `/get_voxel/${idx0}-${idx1}-${idx2}-${idx3}/${xval}-${yval}`,
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(""),
            success: function (data) {
              Gvoxel_name = `voxel${idx0}-${idx1}-${idx2}-${idx3}as${xval}-${yval}`;
              update_scene(data);
            },
          });
        }
      }

      function upload_voxel_click(callback) {
        if (check_init()) {
          let inputEle = document.getElementById("input_voxel");
          inputEle.click();
        }
      }

      // 算了直接把上传的发给后端吧，并且加入全局的voxel列表
      function upload_voxel(event) {
        let selectedFile = event.target.files[0];
        if (selectedFile) {
          console.log("选择的文件:", selectedFile);
          let fileName = selectedFile.name;
          let fileExtension = fileName.split(".").pop().toLowerCase();

          if (fileExtension == "json") {
            console.log("json");
            let fileReader = new FileReader();
            fileReader.onload = function (event) {
              let fileContent = event.target.result;
              let name;
              let dim;
              let data;
              try {
                let jsonObject = JSON.parse(fileContent);
                name = jsonObject.name;
                dim = jsonObject.dim;
                data = jsonObject.data;
                console.log(name);
                console.log(dim);
                console.log(data);
                if (
                  data.length != 64 ||
                  data[0].length != 64 ||
                  data[0][0].length != 64
                )
                  throw "体素模型维度错误，需要为64";
                // 体素发送给后端
                update_voxel(name, data);
                // 更新3d显示体素
                update_scene(data);
              } catch (error) {
                console.log("无法解析 JSON 文件:", error);
              }
            };
            fileReader.readAsText(selectedFile);
          } else {
            console.log("not json");
          }
        }
      }

      function upload_image_click() {
        if (check_init()) {
          let inputEle = document.getElementById("input_image");
          inputEle.click();
        }
      }

    //   function upload_image(event) {
        // let formData = new FormData();

        // let selectedFile = event.target.files[0];

        // formData.append("image", selectedFile);
        // formData.append("name", selectedFile.name);

        // $.ajax({
        //   url: "/get_embeddings_by_image",
        //   type: "POST",
        //   data: formData,
        //   contentType: false, // 不设置contentType
        //   processData: false, // 不处理数据
        //   success: function (data) {
            // console.log(data);
            // Gvoxel_list.push([data[0], data[1]]);
            // Gvoxel_name = selectedFile.name;
            // update_scene(data[2]);
        //   },
        // });
    //   }

      // TODO:传入一个voxel，保存为{name:"", dim:int, data:[[[]]]}
      function save_file() {
        if (check_init()) {
          let voxel_json = {
            name: Gvoxel_name,
            dim: 64,
            data: Gvoxel_data,
          };

          let jsonData = JSON.stringify(voxel_json, null, 2);

          let blob = new Blob([jsonData], { type: "application/json" });
          let url = URL.createObjectURL(blob);

          let a = document.createElement("a");
          a.href = url;
          a.download = `${Gvoxel_name}.json`;
          a.click();

          URL.revokeObjectURL(url);
        }
      }
    </script>
  </body>
</html>
